body {
    background: #326696 url("../images/bk.png") repeat-x;
    background-size: auto 100%;
    margin: 0;
    overflow: hidden;
    font-family: Monospace, serif;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

a {
    color: #0078ff;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
}
